{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    {% block pagename %}
    {% endblock %}

    {% block menu %}
        <a href="http://127.0.0.1:8000/platform/"><button>Главная</button></a><br/>
    <br/>
        <a href="http://127.0.0.1:8000/platform/games/"><button>Магазин</button></a><br/>
    <br/>
        <a href="http://127.0.0.1:8000/platform/cart/"><button>Корзина</button></a>
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>